<!doctype html>
<html ng-app="app">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    </head>
    <body>

        <div ng-controller="CtrlApp">
            <h1> {{nome}} </h1>
        </div>

        <div ng-controller="CtrlApp2">
            <h1> {{nome}} </h1>
        </div>


        <script>
            var myApp = angular.module('app', []);

            var CtrlApp = function ($scope) {
                $scope.nome = "Alexandre";
            };

            var CtrlApp2 = function ($scope) {
                $scope.nome = "Sanches";
            };

            myApp.controller('CtrlApp', CtrlApp);
            myApp.controller('CtrlApp2' CtrlApp2);
        </script>
    
    </body>
</html>