<!doctype html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
<div>
    <label>Nome:</label>
    <input type="text" ng-model="firstName" placeholder="Enter a nome here">

    <label>Sobrenome:</label>
    <input type="text" ng-model="lastName" placeholder="Enter a sobrenome here">

    <hr>
    <h1>Bem vindo {{firstName}} {{lastName}}!</h1>
</div>
</body>
</html>